<!DOCTYPE html>

<html>

    <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Manage Accounts Page</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
    <link rel="stylesheet" href="./styles/dashboard.css"/>
    </head>

    <body>
        <div class="web-page">
            <div class="top-bar">
                <img class="trisys-logo" src="./assets/trisys-logo-XA5.png"/>
                <p class="current-user-text">INVENTORY MANAGER</p>
                <img class="profile-picture" src="./assets/profile-picture-7bK.png"/>
              </div>
              <div class="bottom-page-part">
                <%- include('sidebar.ejs') %>
                <div class="dashboard-area">
                  <div class="dashboard-header">
                    <p class="dashboard-title">Dashboard</p>
                    <p class="date-header">January 31, 2023     6:05 PM</p>
                  </div>
                  <div class="daily-products-update-header">
                    <p class="daily-products-text">Daily Product Updates</p>
                  </div>
                  <div class="daily-product-horizontal-slide">
                      <div class="daily-update-box">
                          <div class="icon-area-update"> 
                            <img class="daily-update-icon" src="./assets/dailyupdateicon-2.png"/>
                          </div>
                          <div class="text-area-update"> 
                              <div class="upper">
                                <p class="quantity">234</p>
                                <img class="update-icon-indicator" src="./assets/arrowdown-1.png"/>
                              </div>
                              <div class="lower">
                                <p class="material-name">MCB - N Version</p>
                                <p class="item-name">A9F74102 - 2AT 63AF 1P 10KAIC 230V2</p>
                                <p class="product-update">Stock Decreased</p>
                              </div>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
        </div>
    </body>

</html>