<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
  <title>Generate Report Page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A700"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700"/>
  <link rel="stylesheet" href="./styles/generate-report-page.css"/>
</head>
<body>
<div class="web-page">
  <div class="top-bar">
    <img class="trisys-logo" src="./assets/trisys-logo-XA5.png"/>
    <div class="user-info">
        <p class="current-user-text"><%= roleOf %></p>
        <img class="profile-picture" src="<%= pictureUrl %>"/>
    </div>
</div>
  <div class="bottom-page-part">
    <%- include('sidebar') %>
    <div class="below-top-bar">
      <div class="inner-frame">
        <p class="generate-report-title">Generate Report</p>
        <div class="upper-inner">
          <div class="buttons-frame">
            <!-- Report Function & Make it Required for one to be picked before downloading-->
            <input type="radio" id="north" name="direction" class="button-north">
            <input type="radio" id="south" name="direction" class="button-south">
          </div>
          <div class="button-associated-texts">
            <p class="final-report-text">Final Report</p>
            <p class="bin-card-report-text">BIN Card Report</p>
          </div>
          <div class="date-frame">
            <div class="date-text-area">
              <p class="from-text">From:</p>
              <p class="date-upper-text">Date:</p>
              <p class="to-text">To:</p>
              <p class="date-lower-text">Date:</p>
            </div>
            <div class="textfield-areas">
              <!-- Set Date Function-->
              <div class="upper-textfield">
                <input type="date" id="upperDate" class="textfield-input">
              </div>
              <div class="lower-textfield">
                <input type="date" id="lowerDate" class="textfield-input">
              </div>
            </div>
            <div class="set-date-buttons-area">
              <form id="clustercode-form" action="/binCardPDF" method="get">
                <input type="text" id="upper-set-date-button" name="clustercode" class="upper-set-date-button">
                <button type="submit" class="lower-set-date-button">Set Code</button>
              </form>
            </div>
          </div>
        </div>
        <p class="preview-final-report-text">Preview Final Report:</p>
        <div class="preview-area">
          <!-- Preview Feature-->
        </div>
      </div>
      <div class="right-corner-side">
        <p class="search-text">Search</p>
        <p class="download-text">Download</p>
        <select class="download-options">
          <!-- Export Function and Download-->
            <option value="csv">Export to CSV</option>
            <option value="pdf">Export to PDF</option>
        </select>
    </div>
    </div>
  </div>
</div>

<script>
  window.onload = function() {
  var today = new Date();
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
  var yyyy = today.getFullYear();

  today = yyyy + '-' + mm + '-' + dd;
  document.getElementById("upperDate").value = today;
  document.
  getElementById("lowerDate").value = today;
};

/*************************Just testing to Generate BIN Card***********************/
document.getElementById('upper-set-date-button').addEventListener('keydown', function(event) {
    if (event.key === 'Enter') {
      window.location.href = '/binCardPDF';
    }
  });
</script>

</body>