<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Generate Report</title>
  <script>
    function changeActionToBinCard() {
      document.getElementById('reportForm').action = '/generate-bincard';
    }
  </script>
</head>
<body>
  <h1>Generate Report</h1>
  <form id="reportForm" action="/generate-report-page" method="POST">
  
    <label for="endDate">Date:</label>
    <input type="date" id="endDate" name="endDate" required>

    <button type="submit">Generate Report</button>
    <!-- Additional button for generating bin card -->
    <button type="submit" onclick="changeActionToBinCard()">Generate Bin Card</button>
  </form>
</body>
</html>
