<style>
  body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
  height: calc(100% - 50px); /* Adjust the height to reach the bottom of the page */
  width: 100px; /* Set the initial width to the width of the icons */
  position: fixed;
  z-index: 1;
  top: 80px; /* Position the sidebar just below the top bar */
  left: 0;
  background-color: #545454;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px; /* Adjust the padding-top if necessary */
}
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .dashboard-icon {
  margin: 0rem 1rem 1.3rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.item-catalog-icon {
  margin: 0rem 1rem 1.3rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.managestock-icon {
  margin: 0rem 1rem 1.3rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.generate-report-icon {
  margin: 0rem 1rem 1.3rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.generate-report-icon {
  margin: 0rem 1rem 1.3rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

 .logs-icon {
  margin: 0rem 1rem 1.3rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.settings-icon {
  margin: 0rem 1rem 1.3rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.logout-icon {
  margin: 0rem 1rem 0rem 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.hide-text {
  display: none;
}

</style>

<div id="mySidenav" class="sidenav" onmouseleave="closeNav()" onmouseover="openNav()">
  <% if (roleOf === "manager" || roleOf === "warehouse") { %>
    <a href="/dashboard">
      <img class="dashboard-icon" src="./assets/dashboardicon-1-CWy.png"/>
      <span class="sidenav-text hide-text">Dashboard</span>
    </a>
  <% } %>

  <% if (roleOf === "manager" || roleOf === "warehouse"|| roleOf === "engineer") { %>
    <a href="/item">
      <img class="item-catalog-icon" src="./assets/itemcatalogicon-1-FJd.png"/>
      <span class="sidenav-text hide-text">Item Catalog</span>
    </a>
  <% } %>

  <% if (roleOf === "manager" || roleOf === "warehouse") { %>
    <a href="/stock">
      <img class="managestock-icon" src="./assets/managestock-icon-1-Sey.png"/>
      <span class="sidenav-text hide-text">Manage Stock</span>
    </a>
  <% } %>

  <% if (roleOf === "manager" || roleOf === "company") { %>
    <a href="/generate-report-page">
      <img class="generate-report-icon" src="./assets/generatereporticon-1-sL1.png"/>
      <span class="sidenav-text hide-text">Generate Report</span>
    </a>
  <% } %>

  <% if (roleOf === "manager") { %>
    <a href="/logs">
      <img class="logs-icon" src="./assets/logsicon-1-PTB.png"/>
      <span class="sidenav-text hide-text">Logs</span>
    </a>
  <% } %>

  <% if (roleOf === "manager" || roleOf === "hr staff") { %>
    <a href="/manage">
      <img class="settings-icon" src="./assets/settingsicon-1-cdT.png"/>
      <span class="sidenav-text hide-text">Manage Accounts</span>
    </a>
  <% } %>

  <a href="/logout">
    <img class="logout-icon" src="./assets/logouticon-1-W8V.png"/>
    <span class="sidenav-text hide-text">Logout</span>
  </a>
</div>

<div id="hoverArea" style="position: fixed; top: 0; left: 0; height: 100%; width: 50px;" onmouseover="openNav()"></div>

<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "310px";
  var elements = document.getElementsByClassName('sidenav-text');
  for(var i = 0; i < elements.length; i++){
    elements[i].classList.remove('hide-text');
  }
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "100px";
  var elements = document.getElementsByClassName('sidenav-text');
  for(var i = 0; i < elements.length; i++){
    elements[i].classList.add('hide-text');
  }
}
</script>