<div class="upper-table-part">
    <p class="upper-table-part-text">Name of Material:</p>
    <input type="text" id="material" name="material" placeholder="Material ID"> 
    <p class="upper-table-part-text">Code:</p>
    <input type="text" id="code" name="code" placeholder="Code ID"> 
  </div>

<div class="upper-table-part">
    <p class="upper-table-part-text">Code:</p>
    <!--TASK: Sort by Code-->
    <input type="text" id="code" name="code" placeholder="Search code..."> 
    <p class="upper-table-part-text">Material:</p> 
    <!--TASK: Sort by Material Name-->
    <input type="text" id="material" name="material" placeholder="Search material..."> 
  </div>