
* {
	margin: 0;
	padding: 0;
}

.active {
  font-weight: 700;
}

body {
  width: 100%;
}

/* button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
} */

button:hover {
  cursor: pointer;
}

.web-page {
  width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.web-page .top-bar {
  box-sizing: border-box;
  padding: 0rem 0rem 0rem 0rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #3b2f36;
  flex-shrink: 0;
  height: 5rem;
}

.web-page .top-bar .trisys-logo {
  margin-right: 63rem;
  width: 11rem;
  height: 11rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
  padding-left: 2rem;
}

.web-page .top-bar .current-user-text {
  margin-right: 1.7rem;
  font-size: 1rem;
  line-height: 1;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  font-weight: normal;
}

.web-page .top-bar .profile-picture {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.web-page .bottom-page-part {
  width: 100%;
  height: calc(100vh - 5rem);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-shrink: 0;
  background-color: #FDFFF0;
}

.web-page .bottom-page-part .upper-part {
  margin: 1rem 6.3rem 0rem 0rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.web-page .bottom-page-part .upper-part .item-icon {
  margin: 0rem 1rem 0.192rem 15rem;
  width: 2rem;
  height: 3.9083rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-page .bottom-page-part .upper-part .item-catalog-text {
  margin-right: 50rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1e1e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-page .bottom-page-part .upper-part .date-text {
  margin-bottom: 2.7rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-page .bottom-page-part .middle-buttons-area {
  margin-bottom: 1rem;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  background-color: white; 
  /* background-color: pink; */
}
.web-page .bottom-page-part .middle-buttons-area .all-text {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  cursor: pointer;
  margin: 0rem 3.6rem 0.8rem 12rem;
  font-size: 1.5rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-page .bottom-page-part .middle-buttons-area .fabrication-text-selection {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 0rem 2.8rem 0.8rem 0rem;
  font-size: 1.5rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-page .bottom-page-part .middle-buttons-area .fire-protection-text-selection {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 0rem 3rem 0.8rem 0rem;
  font-size: 1.5rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-page .bottom-page-part .middle-buttons-area .electrical-text-selection {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  margin: 0rem 3rem 0.8rem 0rem;
  font-size: 1.5rem;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.web-page .bottom-page-part .middle-buttons-area .search-bar {
  position: relative;
  margin: 0.483rem 4.9rem 0.483rem 0rem;
  box-sizing: border-box;
  padding: 1rem 29rem 1rem 2rem;
  height: calc(100% - 4rem);
  background-color: #cacbce;
  border-radius: 3rem;
  flex-shrink: 0;
}
.web-page .bottom-page-part .middle-buttons-area .search-bar .search-input {
  outline: none;
  position: absolute;
  left: 10.2px;
  top: 8px;
  width: calc(100% - 3rem);
  height: 1.2rem;
  border: none;
  background-color: transparent;
}
.web-page .bottom-page-part .middle-buttons-area .search-bar .search-icon {
  position: absolute;
  right: 10px;
  top: 8px; 
  width: 1.2rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
}
.web-page .bottom-page-part .middle-buttons-area .on-off-switch-button {
  margin-right: 0.9rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.web-page .bottom-page-part .middle-buttons-area .atoz-icon {
  margin-top: 0rem;
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}

.tables-section {
  margin-left: 10rem;
  height: 28rem;
  width: 80rem;
  background-color: blue;
  display: flex;
  justify-content: space-between; /* Optional: Adds space between the tables */
}

.left-side-tables {
  width: 50%; /* Optional: Sets the width of the table */
  background-color: red;
}

.left-legend-area {
  width: 100%;
  height: 4.1rem;
  background-color: yellow;
}

.tables-area-left {
  width: 100%;
  height: 23.9rem;
  background-color: teal;
  overflow: auto;
}

.right-side-tables {
  margin-left: 4rem;
  gap: 1rem;
  width: 50%; /* Optional: Sets the width of the table */
  background-color: green;
  display: flex;
  flex-direction: column;
}

.upper-right {
  height: 100%;
  width: 100%; /* Optional: Sets the width of the table */
  background-color: brown;
}

.tables-area-upper-right {
  width: 100%;
  height: 11rem;
  background-color: teal;
  overflow: auto;
}

.lower-right {
  height: 100%;
  width: 100%; /* Optional: Sets the width of the table */
  background-color: pink;
}

.right-legend-area {
  width: 100%;
  height: 3.1rem;
  background-color: yellow;
}

.tables-area-lower-right {
  width: 100%;
  height: 9.8rem;
  background-color: teal;
  overflow: auto;
}

.web-page .bottom-page-part .item-catalog-table {
  /* margin: 0rem 0rem 0rem 0rem; */
  /* width: calc(100% - 10.4rem); */
  height: 25rem;
  background-color: #9cb2c2;
  flex-shrink: 0;
  overflow: auto;
}

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.4); 
    }
  
    /* Modal Content/Box */
    .modal-content {
        background-color: #3b2f36;
        margin: 5% 45% 10% 10%; /* top right bottom left */
        padding: 20px;
        border: 1px solid #888;
        width: 75%; /* Could be more or less, depending on screen size */
        border-radius: 2rem;
    }
  
    /* The Close Button */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
  
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    #itemTable {
      width: 100%; /* Make the table take up the full width of its container */
      border-collapse: collapse; /* Collapse borders to avoid double borders */
  }
  
  #itemTable th, #itemTable td {
      text-align: left; /* Align text to the left */
      padding: 8px; /* Add some padding */
      border: none; /* Remove all borders */
  }
  
  #itemTable th:first-child, #itemTable td:first-child {
      border-left: 2px solid #000; /* Add left border to the first cell */
  }
  
  #itemTable th:last-child, #itemTable td:last-child {
      border-right: 2px solid #000; /* Add right border to the last cell */
  }
  
  #itemTable tr:first-child th {
      border-top: 2px solid #000; /* Add top border to the first row */
  }
  
  #itemTable tr:last-child td {
      border-bottom: 2px solid #000; /* Add bottom border to the last row */
  }
  
  #itemTable th {
      background-color: #3B2F36; /* Change the background color of the header cells */
      color: #fff; /* Change the color of the text in the header cells to white */
  }

  #itemTable tr:nth-child(odd) {
    background-color: #fff; /* White for odd rows */
}

#itemTable tr:nth-child(even) {
    background-color: #E1E1E1; /* #E1E1E1 for even rows */
}

/******************************************************************************************/

.web-page .bottom-page-part .item-catalog-table2 {
  margin: 0rem 5rem 0rem 9rem;
  width: calc(100% - 10.4rem);
  height: 25rem;
  background-color: #9cb2c2;
  flex-shrink: 0;
  overflow: auto;
}

#itemTable2 {
  width: 86rem; /* Make the table take up the full width of its container */
  border-collapse: collapse; /* Collapse borders to avoid double borders */
  display: none;
}

#itemTable2 th, #itemTable td {
  text-align: left; /* Align text to the left */
  padding: 8px; /* Add some padding */
  border: none; /* Remove all borders */
}

#itemTable2 th:first-child, #itemTable td:first-child {
  border-left: 2px solid #000; /* Add left border to the first cell */
}

#itemTable2 th:last-child, #itemTable td:last-child {
  border-right: 2px solid #000; /* Add right border to the last cell */
}

#itemTable2 tr:first-child th {
  border-top: 2px solid #000; /* Add top border to the first row */
}

#itemTable2 tr:last-child td {
  border-bottom: 2px solid #000; /* Add bottom border to the last row */
}

#itemTable2 th {
  background-color: #3B2F36; /* Change the background color of the header cells */
  color: #fff; /* Change the color of the text in the header cells to white */
}

#itemTable2 tr:nth-child(odd) {
background-color: #fff; /* White for odd rows */
}

#itemTable2 tr:nth-child(even) {
background-color: #E1E1E1; /* #E1E1E1 for even rows */
}

/******************************************************************************************/
/*******************************Modal 1 CSS************************************************/
/******************************************************************************************/

.title-section-modal {
  margin: 0rem 68.7rem 1rem 0rem;
  width: calc(100% - 68.7rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.title-section-modal .pencil-icon {
  margin: 0.006rem 0rem 0rem 4rem;
  width: 1.7rem;
  height: 1.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.title-section-modal .edit-cluster-text {
  margin: 0rem 0rem 0rem 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.table-section {
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 1.8rem 1.8rem 1.8rem 1.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #3b2f36; 
  border-radius: 2rem;
  flex-shrink: 0;
}
.table-section .header {
  margin: 0rem 89.2rem 0.434rem 0.7rem;
  width: calc(100% - 89.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.table-section .header .code-text {
  margin-right: 19rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.table-section .header .description-text {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}

.table-section .entry {
  margin-bottom: 0.1rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}

.table-section .entry .code {
  margin-right: 4rem;
  width: 7rem;
  height: 3rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}

.table-section .entry .description {
  margin: 0.566rem 0rem 0rem 0rem;
  box-sizing: border-box;
  padding: 1rem; /* Adjust padding to fit the text inside */
  width: 50rem;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
  text-align: left; /* Add this to align the text to the left */
}

.table-section .entry .gear {
  margin-bottom: 0.234rem;
  margin-left: 2rem; /* Add this to move the gear icon to the left */
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.lower-section {
  margin-left: 46rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}

.lower-section .add-cluster-icon {
  margin: 0rem 4.481rem 0.594rem 0rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.lower-section .add-cluster-icon:hover {
  cursor: pointer; 
}
 
.lower-section .discard-button {
  margin-right: 3.8rem;
  width: 9rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a6a6a6;
  border-radius: 2rem;
  flex-shrink: 0;
}
  
.lower-section .save-button {
  width: 9rem;
  height: 3rem;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00bf63;
  border-radius: 2rem;
  flex-shrink: 0;
}

.action-buttons {
  font-size: 30px; /* Adjust as needed */
  background-color: transparent;
}

.add-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px dashed #aaa; /* Adjust color as needed */
  margin-bottom: 20px; /* Adjust as needed */
  width: 90%; /* Adjust as needed */
}

.add-button {
  background-color: transparent;
  border: none;
}

.add-button img {
  width: 50px; /* Adjust size as needed */
}

.add-section:hover {
  cursor: pointer;
}


/******************************************************************************************/
/*******************************Modal 2 CSS************************************************/
/******************************************************************************************/

.modal-content2 {
  background-color: #3b2f36;
  margin: 5% 45% 0% 10%; /* top right bottom left */
  padding: 20px;
  border: 1px solid #888;
  width: 75%; /* Could be more or less, depending on screen size */
  height: 35rem;
  border-radius: 2rem;
}

.back-button {
  background-color: #A6A6A6; /* Same color as upper-section-modal */
  color: #000000; /* Text color */
  padding: 10px 20px; /* Button size */
  border: none;
  border-radius: 5px; /* Rounded corners */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 0.4s;
}

.upper-section-modal{
  transition-duration: 0.4s;
  margin-bottom: 1rem;
  width: 9rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A6A6A6;
  border-radius: 2rem;
  flex-shrink: 0;
}

.upper-section-modal:hover {
  background-color: #555555; /* Color when hovered */
}

#addItem {
  background-color: #191919; /* Button color */
  color: #ffffff; /* Text color */
  padding: 10px 20px; /* Button size */
  border: none;
  border-radius: 5px; /* Rounded corners */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s; /* Transition effect duration */
  cursor: pointer;
}

#addItem:hover {
  background-color: #555555; /* Button color when hovered */
  color: #f2f2f2; /* Text color when hovered */
}

.upper-table-part {
  width: 70rem;
  height: 4rem;
  left: 0;
  top: 0;
  background-color: #000000;
  display: flex; /* Add this line */
  justify-content: space-between; /* Add this line */
}

.modal-table-part {
  width: 70rem;
  height: 24rem;
  left: 0;
  top: 0;
  background-color: white;
  display: flex; /* Add this line */
  justify-content: space-between; /* Add this line */
  overflow: auto;
}

.pagination-table-part {
  width: 70rem;
  height: 3.5rem;
  left: 0;
  top: 0;
  background-color: #3b2f36;
  display: flex; /* Add this line */
  justify-content: space-between; /* Add this line */
}

.upper-table-part-text {
  margin-top: 1.1rem;
  margin-left: 2.5rem; /* Change from left to margin-left */
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}

.upper-table-part input {
  padding-left: 1rem;
  height: 1.7rem;
  width: 18rem;
  margin-top: 1.3rem;
  margin-right: 0rem;
}

.upper-table-part button {
  background-color: #191919; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0.7rem 1rem 0px 0px;
  cursor: pointer;
  height: 2.6rem;
}

.inventory-table {
    width: 100%;
    border-collapse: collapse;
}

.inventory-table .table-row {
  display: flex;
  justify-content: space-between;
}

.inventory-table .table-cell {
  flex: 1;
  padding: 8px;
  border: 2px solid #000;
}

.inventory-table .header .table-cell {
  background-color: #2C2C2C !important; /* Change header color to #2C2C2C */
  color: white;
}

.inventory-table .table-row:nth-child(odd) .table-cell {
  background-color: #E1E1E1; /* Change odd cell color to #E1E1E1 */
  border: none; /* Remove borders */
}

.inventory-table .table-row:nth-child(even) .table-cell {
  background-color: white; /* Change even cell color to white */
  border: none; /* Remove borders */
}

.inventory-table .table-row:first-child .table-cell {
  border-top: 2px solid #000; /* Add top border to the first row */
}

.inventory-table .table-row .table-cell:first-child {
  border-left: 2px solid #000; /* Add left border to the first cell of each row */
}

.inventory-table .table-row .table-cell:last-child {
  border-right: 2px solid #000; /* Add right border to the last cell of each row */
}

.inventory-table .table-row:last-child .table-cell {
  border-bottom: 2px solid #000; /* Add bottom border to the last row */
}

.inventory-table .table-cell button img {
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
}

