
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 192rem;
}.item-catalog-page-sRP {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.item-catalog-page-sRP .auto-group-jwwq-QgD {
  box-sizing: border-box;
  padding: 2.4rem 6rem 2.4rem 4.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #3b2f36;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-jwwq-QgD .trisys-logo-igu {
  margin-right: 98.4rem;
  width: 32.8rem;
  height: 9.5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-jwwq-QgD .current-user-text-FB3 {
  margin-right: 1.7rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-jwwq-QgD .profile-picture-xbF {
  width: 12.9rem;
  height: 10.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB {
  margin-right: 9.6rem;
  width: calc(100% - 9.6rem);
  height: 93.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-aj5k-2r1 {
  box-sizing: border-box;
  padding: 5.202rem 3.228rem 5.2rem 3.336rem;
  width: 14.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #545454;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-aj5k-2r1 .dashboardicon-1-Lbo {
  margin: 0rem 0rem 5.202rem 0.392rem;
  width: 5.5rem;
  height: 4.6953rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-aj5k-2r1 .itemcatalogicon-1-rKF {
  margin: 0rem 0.708rem 5.5rem 0rem;
  width: 6.6rem;
  height: 6.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-aj5k-2r1 .managestock-icon-1-AKw {
  margin: 0rem 0.608rem 5.5rem 0rem;
  width: 7.2281rem;
  height: 6.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-aj5k-2r1 .generatereporticon-1-5xh {
  margin: 0rem 0rem 5.996rem 0.264rem;
  width: 7.5721rem;
  height: 6.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-aj5k-2r1 .logsicon-1-D3K {
  margin: 0rem 0.908rem 5.996rem 0rem;
  width: 5.25rem;
  height: 3.9083rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-aj5k-2r1 .settingsicon-1-jXT {
  margin: 0rem 0.208rem 16.6rem 0rem;
  width: 5.6998rem;
  height: 4.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-aj5k-2r1 .logouticon-1-4Jq {
  margin-right: 0.4081rem;
  width: 4.9155rem;
  height: 5.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-7w3j-aY5 {
  box-sizing: border-box;
  padding: 3.3rem 0rem 3.3rem 7.1rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-7w3j-aY5 .auto-group-2wpb-uqF {
  margin-right: 1.6rem;
  width: 71.6rem;
  height: 100%;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-7w3j-aY5 .auto-group-2wpb-uqF .auto-group-algd-FPK {
  margin: 0rem 19.5rem 3.4rem 0rem;
  width: calc(100% - 19.5rem);
  display: flex;
  align-items: center;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-7w3j-aY5 .auto-group-2wpb-uqF .auto-group-algd-FPK .group-AmB {
  margin: 0rem 1.65rem 0.192rem 0rem;
  width: 5.25rem;
  height: 3.9083rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-7w3j-aY5 .auto-group-2wpb-uqF .auto-group-algd-FPK .current-user-text-tSH {
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1e1e1e;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-7w3j-aY5 .auto-group-2wpb-uqF .auto-group-9unr-22h {
  margin: 0rem 0rem 6.2rem 4.7rem;
  display: flex;
  align-items: center;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-7w3j-aY5 .auto-group-2wpb-uqF .auto-group-9unr-22h .all-9t1 {
  margin-right: 3.6rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-7w3j-aY5 .auto-group-2wpb-uqF .auto-group-9unr-22h .fabrication-tah {
  margin-right: 2.8rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-7w3j-aY5 .auto-group-2wpb-uqF .auto-group-9unr-22h .fire-protection-pjF {
  margin-right: 3rem;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-7w3j-aY5 .auto-group-2wpb-uqF .auto-group-9unr-22h .electrical-wos {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-7w3j-aY5 .auto-group-2wpb-uqF .small-table-west-tUD {
  margin: 0rem 10.2rem 0rem 8.3rem;
  width: calc(100% - 18.5rem);
  height: 64.5rem;
  background-color: #9cb2c2;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-7w3j-aY5 .auto-group-ogtv-1oj {
  margin-top: 1.4rem;
  width: 87.7rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-7w3j-aY5 .auto-group-ogtv-1oj .date-8tM {
  margin-bottom: 7.1rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-7w3j-aY5 .auto-group-ogtv-1oj .auto-group-wddx-ftH {
  margin: 0rem 11rem 5rem 12.2rem;
  box-sizing: border-box;
  padding: 1.1rem 5.464rem 0.9rem 55.464rem;
  width: calc(100% - 23.2rem);
  background-color: #cacbce;
  border-radius: 3rem;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-7w3j-aY5 .auto-group-ogtv-1oj .auto-group-wddx-ftH .searchicon-1-mwK {
  width: 3.5722rem;
  height: 3.5rem;
  object-fit: contain;
  vertical-align: top;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-7w3j-aY5 .auto-group-ogtv-1oj .small-table-north-7EV {
  margin: 0rem 3.8rem 5.9rem 0rem;
  width: 83.6rem;
  height: 24rem;
  background-color: #9db2c2;
  flex-shrink: 0;
}
.item-catalog-page-sRP .auto-group-yycd-VbB .auto-group-7w3j-aY5 .auto-group-ogtv-1oj .small-table-south-S1s {
  margin-right: 3.8rem;
  width: 83.9rem;
  height: 34.6rem;
  background-color: #9db2c2;
  flex-shrink: 0;
}
