* {
	margin: 0;
	padding: 0;
}

.login-website {
  width: 100%;
  overflow: hidden;
  position: relative; 
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}

.login-website .left-half {
    align-items: center;
    background-color: #3b2f36;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: 100vh; 
    width: 39%;
}

.login-website .left-half .trisys-logo {
    margin-top: 8rem;
    margin-bottom: 1.6rem;
    width: 30rem;
    height: 14rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
        }

  .login-website .left-half .trisys-logo-text {
          margin-right: 3.5rem;
          max-width: 42.8rem;
          text-align: center;
          font-size: 1.3rem;
          font-weight: 600;
          line-height: 1.2373046875;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
         flex-shrink: 0;
 }

 .login-website .right-half {
  width: 89.7rem;
  height: 100vh;
  position: relative;
  border-left: solid 0.1rem white;
  box-sizing: border-box;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/engineering-picture-bg.png');
  flex-shrink: 0;
}


.login-website .right-half .login-box {
width: 49rem;
height: 30rem;
position: absolute;
left: 4rem;
top: 9rem;
background-color: rgba(59, 47, 54, 0.9); 
border-radius: 3rem;
}

.login-website .right-half .user-icon {
width: 4rem;
height: 4rem;
position: absolute;
left: 6.9rem;
top: 16rem;
object-fit: contain;
vertical-align: top;
}

.wrong-credentials-text {
  width: 8rem;
  height: 8rem;
  position: absolute;
  left: 14rem;
  top: 3rem; /* Adjust this value to move the text up */
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2373046875;
  color: red;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.login-website .right-half .user-id-text {
width: 12.9rem;
height: 4.9rem;
position: absolute;
left: 12.9rem;
top: 16rem;
font-size: 3rem;
font-weight: 400;
line-height: 1.2373046875;
color: #ffffff;
font-family: Inter, 'Source Sans Pro';
white-space: nowrap;
}

.login-website .right-half .user-id-input {
width: 22rem;
height: 3rem;
position: absolute;
left: 29rem;
top: 16.5rem;
background-color: #ffffff;
border-radius: 0.5rem;
font-size: 2rem;
padding-left: 1rem;
}

.login-website .right-half .password-icon {
width: 4rem;
height: 4rem;
position: absolute;
left: 6.9rem;
top: 24rem;
object-fit: contain;
vertical-align: top;
}

.login-website .right-half .password-text {
width: 12.9rem;
height: 4.9rem;
position: absolute;
left: 12.9rem;
top: 24rem;
font-size: 3rem;
font-weight: 400;
line-height: 1.2373046875;
color: #ffffff;
font-family: Inter, 'Source Sans Pro';
white-space: nowrap;
}

.login-website .right-half .password-input {
width: 22rem;
height: 3rem;
position: absolute;
left: 29rem;
top: 24rem;
background-color: #ffffff;
border-radius: 0.5rem;
font-size: 2rem;
padding-left: 1rem;
}

.login-website .right-half .login-button {
width: 22rem;
height: 4.4rem;
position: absolute;
left: 29rem;
top: 30rem;
font-size: 2.4rem;
font-weight: 600;
line-height: 1.2373046875;
color: #ffffff;
font-family: Inter, 'Source Sans Pro';
white-space: nowrap;
display: flex;
align-items: center;
justify-content: center;
background-color: #0302ea;
border-radius: 3rem;
cursor: pointer;
outline: none;
}




  





    